<!-- // FOOTER /////////////////////////////////////////////////////////// -->

<div class="container-narrow" style="text-align:center;">
    <hr>
    <footer class="muted">
        <p>
        Copyright &copy; 2015 BabyBinks | <a href="privacy.html">Privacy Policy</a>
        </p>
    </footer>
</div>

<!-- // JAVASCRIPT ///////////////////////////////////////////////////////// -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
