<!DOCTYPE html>
<html lang="en">
    
<!-- // HEADER ///////////////////////////////////////////////////////////// -->
<head>
    <meta charset="utf-8">
	<title>BabyBinks | Smart Stuff for Smart Kids (with Good Looking Parents)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BabyBinks | Smart Stuff for Smart Kids">
    <meta name="author" content="BabyBinks">
	
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
                                
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>    
    <!--
	<link href="http://fonts.googleapis.com/css?family=Numans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Coda" rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Inder" rel='stylesheet' type='text/css'>
    -->
	<link href="http://fonts.googleapis.com/css?family=Bonbon" rel="stylesheet" type="text/css">
</head>

<body>
    <div style="height:2px;background-color:#F6CC57;"></div>
    <!--
     <div class="navbar">
        <div class="navbar-inner">
            <a class="babybinks" href="/">BabyBinks</a>
            <ul class="nav pull-right">
                <li><a href="#">Apps</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    -->
    <div class="container-narrow">
        <div class="masthead" style="margin-top:50px;">

            <ul class="nav nav-pills pull-right">
                <li><a href="/about.html">about</a></li>
                <li><a href="http://blog.babybinks.com">blog</a></li>
                <li><a href="mailto:support@babybinks.com">support</a></li>
                
                <li class="dropdown">
                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">apps
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a tabindex="-1" target="_new" href="http://itunes.apple.com/us/app/moms-with-apps/id416039568?mt=8&uo=4&partnerId=30&siteID=VUvXjaye1qg">The Honor Roll</a></li>
                        <li><a tabindex="-1" target="_new" href="http://bit.ly/dOPddi">Store Drop</a></li>
                        <li><a tabindex="-1" target="_new" href="http://bit.ly/ScreenTimes">Screen Time</a></li>
                        <li><a tabindex="-1" target="_new" href="http://bit.ly/ec0SiO">Elephonics</a></li>
                        <li><a tabindex="-1" target="_new" href="http://bit.ly/dSgTUF">Zombies vs. Literacy</a></li>
                        <li><a tabindex="-1" target="_new" href="http://bit.ly/MomsWithApps">Moms with Apps</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" target="_new" href="https://itunes.apple.com/us/artist/babybinks/id317789443" target="_new">
                            See all in the App Store</a></li>
                    </ul>
                </li>

                
            </ul>
            <h1><a class="muted babybinks" href="/">BabyBinks</a></h1>
        </div>
        <hr>
    </div>

     
